faiss-cpu
allennlp==0.9
nltk
parsimonious
numpy
tabulate
termcolor
tqdm
torch
scikit-learn
scipy
PyYAML
colorclass
terminaltables
sklearn
nmslib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
pytest
pytest-xdist
pytest-forked
